@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

.card {
 margin : 30px auto;
 display : flex;
}
.card img {
 width : 150px;
 margin-right : 20px;
}

.nav {
 display: flex;
 padding: 20px;
 background: black;
 align-items: center;
 font-family : 'Montserrat';
}

.nav a {
 margin-right: 10px;
 text-decoration : none;
 font-weight : 400;
 letter-spacing : -0.5px;
 color : white;
}
.nav .logo {
 font-weight : 800;
 color : white;
}

input, button {
 padding : 8px 13px;
 margin-top : 5px;
 border : 1px solid grey;
 border-radius : 4px;
 vertical-align : middle;
}
button {
 background : black;
 color : white;
 border : none;
}
input {
 display : block;
}

footer {
 background: black;
 color: white;
 font-family : 'Montserrat';
 padding: 50px;
 text-align: center;
 font-weight : 800;
 margin-top : 5px
}

.detail {
  text-align : center;
}

.detail img{
  max-width : 30%;
  display : block;
  margin : auto;
}