@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

.card {
 margin : 30px auto;
 display : flex;
}

.card img {
 width : 150px;
 margin-right : 20px;
}

.nav {
 display: flex;
 padding: 20px;
 background: black;
 align-items: center;
 font-family : 'Montserrat';
}

.nav a {
 margin-right: 10px;
 text-decoration : none;
 font-weight : 400;
 letter-spacing : -0.5px;
 color : white;
}

.nav .logo {
 font-weight : 800;
 color : white;
}

input, button {
 padding : 8px 13px;
 margin-top : 5px;
 border : 1px solid grey;
 border-radius : 4px;
 vertical-align : middle;
}

button {
 background : black;
 color : white;
 border : none;
}

input {
 display : block;
}

footer {
 background: black;
 color: white;
 font-family : 'Montserrat';
 padding: 50px;
 text-align: center;
 font-weight : 800;
 margin-top : 5px
}

.detail {
  text-align : center;
}

.detail img{
  max-width : 30%;
  display : block;
  margin : auto;
}

.links {
 display : flex;
 flex-direction: column;
 margin-bottom : 15px;
}

.links a{
 text-decoration : none;
 color : black;
 font-size : 12px;
 cursor : pointer;
}

.links a:hover{
 text-decoration : underline;
}

.pagination {
    text-align: center;
    margin-top: 30px;
}

.pagination a {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 3px;
    border: 1px solid #333;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.pagination a:hover {
    background-color: #333;
    color: white;
}

.pagination .active {
    background-color: black;
    color: white;
    border-color: black;
}
