.detail-container {
  display: flex;
  gap: 60px;
  max-width: 1024px;
  margin: 60px auto;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

.left img {
  width: 300px;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-title {
  font-size: 28px;
  margin-bottom: 10px;
  color: #333;
}

.product-price {
  font-size: 24px;
  color: #3b3d43;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-divider {
  height: 1px;
  background-color: #ddd;
  border: none;
  margin: 20px 0;
   width: 100%;
}


.product-description h4 {
  margin-bottom: 8px;
  font-size: 18px;
  color: #555;
}

.product-description p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 10px;
}

.product-description .created-by {
  font-size: 13px;
  color: #555;
  font-weight: bold;
}

.buy-button {
  margin-top: 30px;
  padding: 12px 24px;
  font-size: 16px;
  background-color: #3b3d43;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
  letter-spacing: 0.1rem;
}

.buy-button:hover {
  background-color: #19191c;
}

.quantity-wrapper {
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 12px;
}

.quantity-wrapper label {
  font-weight: bold;
}

.quantity-wrapper input {
  width: 45px;
  height: 30px;
  padding: 6px;
  font-size: 16px;
  text-align: center;
}

.total-price {
  font-size: 18px;
  font-weight: bold;
  color: #19191c;
}

@media (max-width: 600px) {
  .detail-container {
    flex-direction: column; /* 가로 → 세로 정렬 */
    padding: 20px;
    gap: 20px;
  }

  .left img {
    width: 100%;  /* 화면 너비에 맞게 */
    height: auto;
  }

  .right {
    align-items: center;
    text-align: center;
  }

  .quantity-wrapper {
    justify-content: center;
  }
}