<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
  <link rel="stylesheet" href="/css/global.css" />
  <link rel="stylesheet" href="/css/navbar.css" />
  <link rel="stylesheet" href="/css/board.css" />
  <link rel="stylesheet" href="/css/footer.css" />
  <title>Document</title>
</head>
<body>
<div th:replace="~{navbar.html :: navbar}"></div>
<div class="board-container">
  <div class="board-header">
    <h2>게시판</h2>
    <button sec:authorize="isAuthenticated()" th:onclick="|location.href='@{/write}'|">글쓰기</button>
  </div>
  <table border="1" cellspacing="0" cellpadding="8">
    <thead>
    <tr>
      <th>번호</th>
      <th>제목</th>
      <th>작성자</th>
      <th>작성일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${posts}" th:onclick="|location.href='@{/post/{id}(id=${post.id})}'|">
      <td th:text="${post.id}">1</td>
      <td th:text="${post.title}"></td>
      <td th:text="${post.member.displayName}"></td>
      <td th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd')}"></td>
    </tr>
    </tbody>
  </table>
</div>
<div th:replace="~{footer.html :: footer}"></div>
</body>
</html>
