<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/detail.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <title>Document</title>
</head>
<body>
<div th:replace="~{navbar.html :: navbar}"></div>
<div class="detail-container">
    <div class="detail-card">
        <div class="header">
            <h3>게시판</h3>
            <form th:action="@{/delete/{id}(id=${post.id})}" method="POST" class="button-container" sec:authorize="isAuthenticated()">
                <button th:onclick="|location.href='@{/edit/{id}(id=${post.id})}'|">수정</button>
                <button type="submit" class="delete">삭제</button>
            </form>
        </div>
        <h2 th:text="${post.title}"></h2>
        <div class="name-date-container">
            <h5 th:text="${post.member.displayName}"></h5>
            <h5 th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd')}"></h5>
        </div>
        <img th:if="${post.postImageUrl != ''}" th:src="${post.postImageUrl}"
                alt="게시물 이미지"/>
        <p th:text="${post.content}"></p>
        <div class="comment-container">
            <div class="comment-input-container">
                <textarea type="text" placeholder="댓글을 입력하세요."></textarea>
                <button>등록</button>
            </div>
            <div class="comment-list-container">
                <div class="top">
                    <img src="/images/default-profile-image.png" /><a>이정민</a>
                </div>
                <div class="middle">배고프다 집가고 싶다</div>
                <div class="bottom">2025-05-29</div>
            </div>
            <div class="comment-list-container">
                <div class="top">
                    <img src="/images/default-profile-image.png" /><a>이정민</a>
                </div>
                <div class="middle">배고프다 집가고 싶다</div>
                <div class="bottom">2025-05-29</div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{footer.html :: footer}"></div>
</body>
</html>
