<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div></div>
<footer class="footer" th:fragment="footer">
    <div class="footer-container">
        <div class="footer-top">
            <div>
                <h6 class="footer-title">Account</h6>
                <ul class="footer-list">
                    <li class="footer-list-item">
                        <a href="#" class="footer-list-link">Profile</a>
                    </li>
                    <li class="footer-list-item">
                        <a href="#" class="footer-list-link">Order History</a>
                    </li>
                    <li class="footer-list-item">
                        <a href="#" class="footer-list-link">Affiliates</a>
                    </li>
                    <li class="footer-list-item">
                        <a href="#" class="footer-list-link">Sitemap</a>
                    </li>
                </ul>
            </div>
            <div>
                <h6 class="footer-title">Information</h6>
                <ul class="footer-list">
                    <li class="footer-list-item">
                        <a href="#" class="footer-list-link">About</a>
                    </li>
                    <li class="footer-list-item">
                        <a href="#" class="footer-list-link">Careers</a>
                    </li>
                    <li class="footer-list-item">
                        <a href="#" class="footer-list-link">Affiliates</a>
                    </li>
                    <li class="footer-list-item">
                        <a href="#" class="footer-list-link">Sitemap</a>
                    </li>
                </ul>
            </div>
            <div>
                <h6 class="footer-title">Extras</h6>
                <ul class="footer-list">
                    <li class="footer-list-item">
                        <a href="#" class="footer-list-link">About</a>
                    </li>
                    <li class="footer-list-item">
                        <a href="#" class="footer-list-link">Careers</a>
                    </li>
                    <li class="footer-list-item">
                        <a href="#" class="footer-list-link">Affiliates</a>
                    </li>
                    <li class="footer-list-item">
                        <a href="#" class="footer-list-link">Sitemap</a>
                    </li>
                </ul>
            </div>
            <div>
                <h6 class="footer-title">Contact</h6>
                <ul class="footer-list">
                    <li class="footer-list-item">
                        <a class="footer-list-link no-hover"><i class="ri-phone-fill"></i></i>010-8634-8076</a>
                    </li>
                    <li class="footer-list-item">
                        <a class="footer-list-link no-hover"><i class="ri-mail-fill"></i>zshfz8634@gmail.com</a>
                    </li>
                    <li class="footer-list-item">
                        <a class="footer-list-link no-hover"><i class="ri-map-pin-2-fill"></i>Seongnam</a>
                    </li>
                </ul>
            </div>
        </div>

        <hr class="footer-divider" />

        <div class="footer-bottom">
            <span class="copyright">&copy; 2025 zshfz. All rights reserved.</span>
            <ul class="footer-list">
                <li class="footer-list-item">
                    <a th:href="@{'https://github.com/zshfz'}" class="footer-list-link">
                        <i class="ri-github-fill"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>