<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{nav.html::navbar}"></div>
<form action="/search" method="POST" onsubmit="return validateSearch()">
    <input class="search" name="searchText" id="searchText" placeholder="상품 이름을 입력하세요.">
    <button>검색</button>
</form>
<div class="card" th:each="i : ${items}">
    <img th:src="${i.imageUrl}">
    <div>
        <h4 th:text="${i.name}"></h4>
        <p th:text="${i.price} + '원'"></p>
        <div class="links">
            <a th:href="@{'/detail/' + ${i.id}}">🧾 상세페이지</a>
            <a th:href="@{'/edit/' + ${i.id}}">✏️ 수정</a>
            <a th:onclick="fetch('/delete?id=[[${i.id}]]', {method : 'DELETE'})
                .then(r => r.text())
                .then(() => {
                    location.reload();
                })
            ">🗑️ 삭제</a>
        </div>
    </div>
</div>
<div class="pagination" th:if="${not isSearch}">
    <span th:each="i : ${#numbers.sequence(1, totalPages)}">
        <a th:href="@{'/list/page/' + ${i}}"
           th:text="${i}"
           th:classappend="${i == currentPage} ? 'active' : ''"></a>
    </span>
</div>
<footer th:replace="~{footer.html::footer}"></footer>

<script>
    function validateSearch() {
        const value = document.getElementById('searchText').value.trim();
        if (value === "") {
            alert("검색어를 입력하세요.");
            return false; // 제출 막음
        }
        return true; // 정상 제출
    }
</script>

</body>
</html>