<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <title>Document</title>
</head>
<body>
<div class="login-container">
    <div class="login-form">
        <h1>로그인</h1>
        <input type="text" placeholder="아이디" id="username"/>
        <input type="password" placeholder="비밀번호" id="password"/>
        <button onclick="loginJWT()">로그인</button>
    </div>
</div>

<script>
    function loginJWT(){
      fetch('/login/jwt', {
        method : 'POST',
        headers : {'Content-Type': 'application/json'},
        body : JSON.stringify({
          username : document.querySelector('#username').value,
          password : document.querySelector('#password').value
        })
      }).then(r => r.text()).then((r)=>{ console.log(r) })
    }
</script>
</body>
</html>
