<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>

<h4>로그인</h4>
<form action="/login", method="POST">
    <input name="username" placeholder="아이디">
    <input name="password" placeholder="비밀번호" type="password">
    <button type="submit">전송</button>
</form>

<div th:if="${param.error}">
    <h4>아이디나 비밀번호를 틀리셨습니다.</h4>
</div>

</body>
</html>