<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{nav.html::navbar}"></div>
<h4>마이페이지</h4>
<!--<div sec:authentication="'아이디 : ' + principal.username"></div>-->
<!--<div sec:authentication="principal.displayName"></div>-->
<div th:text="|아이디 : ${#authentication.principal.username}|"></div>
<div th:text="|이름 : ${#authentication.principal.displayName}|"></div>
<div sec:authorize="hasRole('USER')">
    권한 : 일반 유저
</div>
<div sec:authorize="hasRole('ADMIN')">
    권한 : 관리자
</div>
<h4>주문 목록</h4>
<div th:each="i : ${orders}">
    <div th:text="'주문 물품 : ' + ${i.itemName}"></div>
    <div th:text="'주문 수량 : ' + ${i.count}"></div>
    <div th:text="'총 가격 : ' + ${i.price * i.count}"></div>
    <div th:text="'주문 날짜 : ' + ${i.created}"></div>
    <br>
</div>
<footer th:replace="~{footer.html::footer}"></footer>

</body>
</html>