<div class="navbar-container" th:fragment="navbar">
    <div class="left">
        <h1 th:onclick="|location.href='@{/}'|">CRUD</h1>
        <a th:href="@{'/login'}" sec:authorize="isAnonymous()">로그인</a>
        <a th:href="@{'/register'}" sec:authorize="isAnonymous()">회원가입</a>
        <a th:href="@{'/logout'}" sec:authorize="isAuthenticated()">로그아웃</a>
    </div>
    <div class="right">
        <form action="/search" method="POST" class="search-container">
            <input type="text" placeholder="검색어를 입력하세요." name="searchText"/>
            <button type="submit"><i class="ri-search-line"></i></button>
        </form>
        <img th:src="${memberInfo.profileImageUrl}" alt="프로필 이미지" sec:authorize="isAuthenticated()" th:onclick="|location.href='@{/profile}'|"/>
    </div>
</div>

