<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div class="navbar-container" th:fragment="navbar">
    <h1 th:onclick="|location.href='@{/}'|">SpringMall</h1>
    <div class="navbar-links">
        <a th:href="@{/write}" sec:authorize="isAuthenticated()">상품등록</a>
        <a th:href="@{/profile}" sec:authorize="isAuthenticated()" sec:authentication="principal.displayName"></a>
        <a th:href="@{/logout}" sec:authorize="isAuthenticated()">로그아웃</a>
        <a th:href="@{/login}" sec:authorize="isAnonymous()">로그인</a>
        <a th:href="@{/register}" sec:authorize="isAnonymous()">회원가입</a>
    </div>
</div>

</body>
</html>