<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="product-list" th:fragment="product-list">
    <div class="box-container">
        <div class="box" th:each="product : ${products}">
            <div class="image">
                <img src="/image/jacket.png" />
                <div class="icons">
                    <i class="ri-edit-fill" th:onclick="|location.href='/edit/${product.id}'|"></i>
                    <i class="ri-information-fill" th:onclick="|location.href='/detail/${product.id}'|"></i>
                    <i class="ri-delete-bin-6-fill"></i>
                </div>
            </div>
            <div class="content">
                <h3 th:text="${product.title}"></h3>
                <div class="price" th:text="'₩' + ${#numbers.formatInteger(product.price, 3, 'COMMA')}"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>