<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="common.css" />
    <link rel="stylesheet" href="auth.css" />
    <title>Document</title>
</head>
<body>
<div class="login-card">
    <h2>Register</h2>
    <h3>Create your account</h3>

    <form class="login-form">
        <input type="text" placeholder="displayName" />
        <input type="text" placeholder="username" />
        <input type="password" placeholder="password" />
        <a href="#">Already have an account?</a>
        <button type="submit">REGISTER</button>
    </form>
</div>
</body>
</html>