<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{nav.html::navbar}"></div>
<form action="/register", method="POST">
    <input name="displayName" placeholder="이름">
    <input name="username" placeholder="아이디">
    <input name="password" placeholder="비밀번호" type="password">
    <button type="submit">회원가입</button>
</form>
<footer th:replace="~{footer.html::footer}"></footer>

</body>
</html>