<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/write.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Document</title>
</head>
<body>

<div th:replace="~{navbar.html :: navbar}"></div>
    <div class="form-wrapper">
        <div class="form-container">
            <h2>Register Product</h2>

            <form action="/write" method="POST" th:object="${productDto}">
                <div class="image-preview">Image preview (coming soon)</div>

                <div class="form-group">
                    <label>Product Name</label>
                    <input th:field="*{title}" placeholder="title" />
                    <div class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
                </div>

                <div class="form-group">
                    <label>Product Price</label>
                    <input th:field="*{price}" placeholder="price" />
                    <div class="error" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
                </div>
                <button class="write-btn" type="submit">Write</button>
            </form>
        </div>
    </div>
<div th:replace="~{footer.html :: footer}"></div>

<script>
    const toggleMenuOpen = () => document.body.classList.toggle("open");
</script>

</body>
</html>