<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{nav.html::navbar}"></div>
<form action="/add" method="POST">
    <img src="https://placehold.co/300">
    <input type="hidden" name="imageUrl">
    <input type="file" onchange="getURL(this)">
    <input name="name" placeholder="상품 이름">
    <input name="price" placeholder="가격">
    <button type="submit">전송</button>
</form>
<footer th:replace="~{footer.html::footer}"></footer>

<script>
    async function getURL(e){
        let name = encodeURIComponent(e.files[0].name)
        let response = await fetch(`/presigned-url?filename=${name}`)
        url = await response.text()

        let uploadResult = await fetch(url, {
            method : 'PUT',
            body : e.files[0]
        })

        if(uploadResult.ok){
            document.querySelector('img').src = url.split("?")[0]
            document.querySelector('input[name="imageUrl"]').value = url.split("?")[0];

        }
    }
</script>

</body>
</html>